name: Create Release

on:
  push:
    tags:
      - 'v*'

permissions:
    contents: write

jobs:
  create-release:
    name: Create Release
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Create GitHub release from tag
        uses: softprops/action-gh-release@v2
