name: Lint code

on:
    push:
        branches:
            - 'main'
        paths:
            - '**.go'
    pull_request:
        paths:
            - '**.go'
            
permissions:
    contents: read
    
env:
    # it should match the version in the Makefile file.
    GOLANGCI_LINT_VERSION: 'v1.56.2'

jobs:
    golangci:
        name: lint
        runs-on: ubuntu-latest
        steps:
            -   uses: actions/checkout@v4
            -   uses: actions/setup-go@v5
                with:
                    go-version: 'stable'
                    
            -   name: golangci-lint
                uses: golangci/golangci-lint-action@v5
                with:
                    version: ${{ env.GOLANGCI_LINT_VERSION }}
